In [12]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import time

In [14]:
# url = 'https://www.nepalyp.com/category/Restaurants'
url = 'https://www.nepalyp.com/browse-business-directory'
data = requests.get(url)
soup = bs(data.content, 'html.parser')
time.sleep(2)
content = soup.find('main')

In [56]:
def fetch_data(url) ->list:
    print(url)
    count = 1
    data_list = []
    while True:
        response = requests.get(url)
        soup = bs(response.content, 'html.parser')
        listings = soup.find('div', attrs={'id':'listings'})
        for row in listings.select('div.company:not(.company_ad)'):
#             time.sleep(2)
            company_data = {}

#             # Extract company name and link
#             company_name = row.find('h4').text.strip()
            h4_a_href = row.find('h4').a['href']
    
            time.sleep(2)
        
            response = requests.get('https://www.nepalyp.com{}'.format(h4_a_href))

            if response.status_code == 200:
                page_soup = bs(response.content, 'html.parser')
                company_item_div = page_soup.find('div', {'id': 'company_item'})
                
                company_data['name'] = company_item_div.find('b', id='company_name').text.strip()
                company_data['location'] = company_item_div.find('div', {'class': 'text location'}).text.strip()
                company_data['website'] = company_item_div.find('div', {'class': 'text weblinks'}).text if company_item_div.find('div', {'class': 'weblinks'}) else 'NaN'

                # Extract and split contact numbers
#                 contact = company_item_div.find('div', class_='text phone')
#                 contact_numbers = [contact.strip() for contact in contact.get_text(separator='\n').split('\n') if contact.strip()]
#                 contact_numbers_str = ", ".join(contact_numbers)

#                 Store the contact numbers string in the company_data dictionary
#                 company_data['contact'] = contact_numbers_str

                # Extract description
        #         company_data['description'] = company_item_div.find('div', class_='text desc').text.strip()

                # Extract map coordinates
                map_coordinates = ''
                map_canvas_div = company_item_div.find('div', id='map_canvas')

                if map_canvas_div:
                    data_map_ltd = map_canvas_div.get('data-map-ltd')
                    data_map_lng = map_canvas_div.get('data-map-lng')
                    map_coordinates = f'{data_map_ltd},{data_map_lng}'
                else:
                    map_coordinates = 'NaN'

                company_data['map_coordinates'] = map_coordinates

                # Extract mobile numbers
                label_div = company_item_div.find('div', class_='label', text='Mobile phone')

                if label_div:
                    text_div = label_div.find_next_sibling('div', class_='text')
                    mobile_numbers = [number.strip() for number in text_div.get_text(separator='\n').split('\n') if number.strip()]
                    mobile_numbers_str = ", ".join(mobile_numbers)
                else:
                    mobile_numbers_str = 'NaN'

                company_data['Mobile Numbers'] = mobile_numbers_str

                data_list.append(company_data)
                
        next_link = soup.find('div', class_='pages_container')    
        next_link = next_link.find('a', class_='pages_arrow', rel='next')
        if next_link:
            next_link = next_link['href']
        else:
            next_link = None
            
#         if count == 1:
#             break

        if next_link:
            count +=1
            print(count)
            url = 'https://www.nepalyp.com{}'.format(next_link)
            print(url)
        else:
            break

            

    return data_list

In [ ]:

category_data = []
a = 0
b = 0
c = 0
for category in content.find_all('h2', class_='cath2'):
    b +=1
    category_name = category.text.strip()
    category_dict = {"category": category_name, "subcategories": []}

    for li in category.find_next_sibling('ul', class_='cat_list').find_all('li'):
        subcategory_name = [subcategory.strip() for subcategory in li.get_text(separator='\n').split('\n') if subcategory.strip()][0]
#         print(subcategory_name)
        a +=1
        a_href = li.a['href'] if li.a else 'NaN'
        category_dict["subcategories"].append({subcategory_name: []})
#         print(subcategory_name)
        if a_href != 'NaN':
            c +=1
            url = f'https://www.nepalyp.com{a_href}'
            category_dict['subcategories'][-1][subcategory_name] = fetch_data(url)
        break
            
    category_data.append(category_dict)
    break
    
# print(a,b)
# print(category_data)
# print(c)

https://www.nepalyp.com/category/General_business

C:\Users\user\AppData\Local\Temp\ipykernel_6344\3779641855.py:54: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  label_div = company_item_div.find('div', class_='label', text='Mobile phone')

2
https://www.nepalyp.com/category/General_business/2
3
https://www.nepalyp.com/category/General_business/3
4
https://www.nepalyp.com/category/General_business/4
5
https://www.nepalyp.com/category/General_business/5
6
https://www.nepalyp.com/category/General_business/6
7
https://www.nepalyp.com/category/General_business/7
8
https://www.nepalyp.com/category/General_business/8
9
https://www.nepalyp.com/category/General_business/9
10
https://www.nepalyp.com/category/General_business/10
11
https://www.nepalyp.com/category/General_business/11
12
https://www.nepalyp.com/category/General_business/12
13
https://www.nepalyp.com/category/General_business/13
14
https://www.nepalyp.com/category/General_business/14
15
https://www.nepalyp.com/category/General_business/15
16
https://www.nepalyp.com/category/General_business/16

In [55]:
import json

# Convert to JSON and write to a file
with open('category_data.json', 'w', encoding='utf-8') as json_file:
    json.dump(category_data, json_file, ensure_ascii=False, indent=4)

In [37]:
import csv

# Prepare CSV data
csv_data = []
for category in category_data:
    category_name = category['category']
    for subcategory in category['subcategories']:
        for subcategory_name, businesses in subcategory.items():
            for business in businesses:
                csv_data.append({
                    'Category': category_name,
                    'Subcategory': subcategory_name,
                    'Name': business.get('name', 'NaN'),
                    'Location': business.get('location', 'NaN'),
                    'Website': business.get('website', 'NaN'),
                    'Map Coordinates': business.get('map_coordinates', 'NaN'),
                    'Mobile Numbers': business.get('Mobile Numbers', 'NaN')
                })

# Write to CSV file
csv_columns = ['Category', 'Subcategory', 'Name', 'Location', 'Website', 'Map Coordinates', 'Mobile Numbers']
csv_file = "category_data.csv"

try:
    with open(csv_file, 'w', newline='', encoding='utf-8') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=csv_columns)
        writer.writeheader()
        for data in csv_data:
            writer.writerow(data)
except IOError:
    print("I/O error")

In [1]:
import pandas as pd
from IPython.display import display

# Define the path to your CSV file
csv_file = 'category_data.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file)

# Display the DataFrame in a tabular format
display(df.head())

,Category,Subcategory,Name,Location,Website,Map Coordinates,Mobile Numbers
0,Business Services,General Business,Siddhant Trade International,"Nayabazar, Kathmandu, Nepal",holisticsingingbowls.com/,NaN,NaN
1,Business Services,General Business,Metro Pest Control Service,"Dhapasi, Kathmandu, NepalView Map",www.metropest.blogspot.com,"27.76770958783,85.3273773193359",9863553355
2,Business Services,General Business,S&S Logistic Pvt. LTD.,"Uttar Dhoka, Kholagal Marga, Kathmandu, Nepal,...",www.snslogistic.com.np/,"27.7178753293448,85.3232111045341",+977 9851067192
3,Business Services,General Business,Vigorous IT Solution,"Chhorepatan-17, Pokhara 33700, Nepal, PokharaV...",vigorousitsolution.com,"28.1914668394868,83.9507962451218",9816162802
4,Business Services,General Business,Modern Cleaning,"Balkumari-9, Lalitpur, NepalView Map",www.moderncleaning.com.np/,"27.7015339435638,85.3516734391451",9801084561 9801084563

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4284 entries, 0 to 4283
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Category         4284 non-null   object
 1   Subcategory      4284 non-null   object
 2   Name             4284 non-null   object
 3   Location         4284 non-null   object
 4   Website          3470 non-null   object
 5   Map Coordinates  3260 non-null   object
 6   Mobile Numbers   2551 non-null   object
dtypes: object(7)
memory usage: 234.4+ KB

In [7]:
df.dropna(subset=['Mobile Numbers', 'Map Coordinates'], inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2288 entries, 1 to 4280
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Category         2288 non-null   object
 1   Subcategory      2288 non-null   object
 2   Name             2288 non-null   object
 3   Location         2288 non-null   object
 4   Website          1996 non-null   object
 5   Map Coordinates  2288 non-null   object
 6   Mobile Numbers   2288 non-null   object
dtypes: object(7)
memory usage: 143.0+ KB